<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <style media="screen" href"css/main.css">



    </style>
  </head>
  <body>
    <div id="app">


    <form class="" action="index.html" method="post">
      <input v-model='image' type="text" name="image">
      <input v-model="altText"  type="text" name="Alt Text" value="">
      <input v-model="caption" type="text" name="Caption" value="">
    </form>
    <button @click="uploadPhoto" type="button" name="button">
      Upload
    </button>
    </div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script type="text/javascript" src="js/photo.js"></script>
    <!-- development version, includes helpful console warnings -->
    <!-- remember to swap out out development version for production -->

  </body>
</html>
